.app-container {
  display: flex;
  /* height: 100vh; */
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* Better looking toast */
/* .custom-toast {
  position: fixed;
  top: 30px;
  right: 30px;
  background: rgba(17, 17, 207, 0.9);
  color: #bdbdd0;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  animation: fadeSlideIn 0.4s ease;
  z-index: 9999;
} */

.custom-toast {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  animation: fadeSlideIn 0.4s ease;
  z-index: 9999;
  color: #fff;
}

/* SUCCESS */
.custom-toast.success {
  background: rgba(0, 180, 81, 0.9); /* green */
}

/* ERROR */
.custom-toast.error {
  background: rgba(220, 20, 60, 0.9); /* red */
}

/* INFO */
.custom-toast.info {
  background: rgba(17, 17, 207, 0.9); /* blue */
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}