.sidebar {
    width: 240px;
    /* background-color: #05010D; */
    background-color: #111827;
    color: white;
    padding: 15px 10px;
    height: 100vh;
    position: fixed;
}

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px 0 0 15px;
}

.sidebar-logo {
    width: 123px;
    height: auto;
    object-fit: contain;
    display: block;
}

.menu-items {
    list-style: none;
    padding: 0 10px;
    margin-top: 0;
}

.menu-items li {
    padding: 13px 0;
    cursor: pointer;
}