.right-component {
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  z-index: 900;
  font-family: 'borderless';
}

/* Boxes */
.right-box {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  /* box-shadow: 0 3px 8px rgba(0,0,0,0.1); */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Box headings */
.right-box h4 {
  margin: 0 0 0px 0;
  font-size: 14px;
  font-weight: 600;
  color: #111827;
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 5px;
}

/* Notifications */
.notification-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #e0e0e0;
  color: #555;
  flex-shrink: 0;
}

.item-icon.info {
  background-color: #e0f2ff;
  color: #007bff;
}

.item-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.item-content p {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 2px 0;
  color: #333;
}

.item-content small {
  font-size: 10px;
  color: #888;
}

/* Activities */
.activity-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activity-item img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  flex-shrink: 0;
}

.activity-item p {
  font-size: 12px;
  color: #333;
  flex-grow: 1;
  margin: 0;
}

.activity-item small {
  font-size: 10px;
  color: #888;
}

/* Contacts */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
}

.contact-item p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

.notification-item:hover, .activity-item:hover, .contact-item:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
}

